{% extends 'base.html.twig' %}

{% block title %}Nom de l'Article{% endblock %}

{% block body %}

<!-- Page d'un Article-->
<main>
    <h1 class="title-page-article">Nom de l'Article</h1>
    <a class="link-all-articles" href="#">Retour à la liste des articles</a>
    <div class="article-page">
        <p class="header-page-article">- Publié le 15/02/2021 à 18h45 par Auteur</p>
        <div class="body-card-article">
            <h3>Titre de l'article</h3>
            <p>Corps de l'article : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, totam vitae? Nulla rem itaque maxime odio. Quis esse, quaerat iure itaque harum sint perferendis cum debitis autem dolores, eligendi ut.</p>
        </div>
    </div>

    <h2 class="title-h2-article">Commentaires (Nombres)</h2>
    <div class="comments-article">
        <p class="header-page-article">- Ajouté par AUTEUR le DATE</p>
        <div class="body-card-article">
            <p>Contenu du commentaire : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, totam vitae? Nulla rem itaque maxime odio. Quis esse, quaerat iure itaque harum sint perferendis cum debitis autem dolores, eligendi ut.</p>
        </div>
    </div>

    <div class="comments-article">
        <p class="header-page-article">- Ajouté par AUTEUR le DATE</p>
        <div class="body-card-article">
            <p>Contenu du commentaire : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, totam vitae? Nulla rem itaque maxime odio. Quis esse, quaerat iure itaque harum sint perferendis cum debitis autem dolores, eligendi ut.</p>
        </div>
    </div>

    <div class="comments-article">
        <p class="header-page-article">- Ajouté par AUTEUR le DATE</p>
        <div class="body-card-article">
            <p>Contenu du commentaire : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, totam vitae? Nulla rem itaque maxime odio. Quis esse, quaerat iure itaque harum sint perferendis cum debitis autem dolores, eligendi ut.</p>
        </div>
    </div>

    <div class="comments-article">
        <p class="header-page-article">- Ajouté par AUTEUR le DATE</p>
        <div class="body-card-article">
            <p>Contenu du commentaire : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, totam vitae? Nulla rem itaque maxime odio. Quis esse, quaerat iure itaque harum sint perferendis cum debitis autem dolores, eligendi ut.</p>
        </div>
    </div>
</main>

{% endblock %}
