{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <section class="statut_top">
        <div class="statut">
            <div class="statut_text margin_text">
                <p>Vous avez actuellement</p>
                <p>7 tickets ouverts</p>
            </div>
        </div>
    </section>
    <section class="ticket">

        <!-- boite blanche avec la liste des tickets -->
        <div class="opened">
            <h1>Tickets ouverts</h1>
            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_success">Répondu</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_success">Répondu</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_success">Répondu</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_success">Répondu</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- boite blanche avec la liste des tickets -->

        
        <!-- boite blanche avec la liste des tickets (version mobile)-->
        <div class="opened_mobile">
            <h1>Tickets ouverts</h1>
            <div class="ticket_box">
                <p>Je n'arrive pas à me connecter à mon compte client</p>
                <p>Dernière réponse le 07/10/2020</p>
                <a href="" class="primary_btn_success">Répondu</a>
            </div>
        </div>
        <!-- boite blanche avec la liste des tickets -->


        <!-- boite blanche avec la liste des tickets -->
        <div class="opened">
            <h1>Tickets fermé</h1>

            <table class="test">
                <thead>
                    <tr class="opened_title">
                        <td class="start_ticket">Dernière réponse</td>
                        <td>Sujet</td>
                        <td>Création</td>
                        <td>Numéro</td>
                        <td class="end_ticket">Etat du ticket</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                    <tr>
                        <td class="start_ticket"><img src="images/user.jpg" alt="" class="ticket_img"><p>Lucas <br> Le 10/10/2020</p></td>
                        <td>Impossible d'accéder à mon espace client</td>
                        <td>Le 10/10/2020</td>
                        <td>#234423</td>
                        <td class="end_ticket"><a href="" class="primary_btn_close">Fermé</a></td>
                        <tr style="height: 10px; background-color: transparent;"></tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- boite blanche avec la liste des tickets -->
        
    </section>

{% endblock %}
