
/*========================================
POPUP MESSAGE DE CONFIRMATION
========================================*/

.popupSuccess {
    margin-top: 10px;
    margin: 5px auto;
    position: fixed;
    top: 0;
    
}

.success-div {
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    position: relative;
}

/*========================================
Header
========================================*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    --background-color: #1ABC9C;
    background-color: #ececec;
}

.header {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>a>img {
    width: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>a {
    color: white;
    transition: ease 0.2s;

}

.line_vertical {
    height: 45px;
    width: 3px;
    border-radius: 14px;
    background-color: #00000011;
    margin: 0 15px;
}

.line_horizontal {
    width: 100%;
    max-width: 1200px;
    height: 3px;
    background-color: #00000011;
}

.margin_line {
    margin-bottom: 70px;
}

.user_picture > img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 300px;
	margin-right: 15px;
}

.user_box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user_info {
	text-align: start;
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
}

.user_name {
    font-weight: 400;
    color: white;
}

.user_account {
	font-size: 14px;
	font-weight: 200;
	color: #ffffff96;
}

.all_articles {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 100px;
}

.article_box {
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    margin: 30px 5px 0 5px;
}

.article_title {
    font-weight: 400;
    margin-bottom: 9px;
}

.article_desc {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    text-align: justify;
}

.article_link {
    background-color: rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.article_date {
    color: white !important;
    font-size: 14px;
}

.article_link>a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.100);
	border-radius: 7px;
    transition: ease 0.2s;
}

.user:hover {
    background-color: rgba(0, 0, 0, 0.200);
}

.user_box>i {
    margin-left: 15px;
    font-size: 25px;
    color: white;
}

.user_menu {
	padding: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	margin-right: 0px;
	position: absolute;
	background-color: #169c81;
	top: 120px;
	flex-wrap: nowrap;
	width: 135px;
    margin-top: -14px;
}

.user_menu>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 4px 0;
    font-size: 14px;
}

.user_menu>a:hover {
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 7px;
}

.logout_link {
    padding: 6px 12px;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(206, 63, 91) !important;
    border-radius: 7px;
    transition: ease 0.2s;
}

.logout_link:hover {
    background-color: rgb(179, 54, 79) !important;
}

.hidden {
    display: none;
}

.formPicture>img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.formPicture {
    justify-content: center;
    align-items: center;
}

.formAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelInput {
    background-color: #ececec;
    border-radius: 7px;
    padding: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.829);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 220px;
    margin-bottom: 9px;
    margin-right: 10px;
}


/*========================================
TICKET SECTION (DASHBOARD CLIENT)
========================================*/

.ticket {
    font-size: 14px;
}

.opened {
    width: 100%;
    max-width: 1200px;
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 45px auto;
}

.opened_mobile {
    width: 100%;
    max-width: 1200px;
    padding: 25px;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 45px auto;
}

.opened_title {
    border: solid 1px rgba(0, 0, 0, 0.178);
}

.opened_mobile>h1 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

.opened>h1 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

.ticket_box {
    background-color: #ececec;
    border-radius: 7px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.ticket_img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 300px;
    margin-right: 15px;
}

.ticket_info {
    display: flex;
    flex-direction: column;
}

.ticket_response {
    display: flex;
    align-items: center;
}

.align {
    justify-content: space-evenly;
}

.ticket_table {
    width: 100%;
    display: inline-block;
}

.test {
    width: 100%;
}

thead>tr {
    border: solid 2px black;
    border-radius: 7px;
}

td {
    padding: 15px;
}

tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

.start_ticket {
    vertical-align: middle;
}

.start_ticket p, .start_ticket img {
    vertical-align: middle;
    display: inline-block;
}

.end_ticket {
    vertical-align: middle;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.end_ticket>a:hover {
    opacity: 0.8;
}

.end_ticket p, .end_ticket img {
    vertical-align: middle;
    display: inline-block;
}

.primary_btn_success {
    padding: 12px 25px;
    border-radius: 7px;
    background-color: var(--background-color);
    transition: ease 0.2s;
    color: white;
    width: 120px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.primary_btn_wait {
    padding: 12px 25px;
    border-radius: 7px;
    background-color: #f39c12;
    transition: ease 0.2s;
    color: white;
    width: 120px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.primary_btn_success:hover {
    background-color: #108b73;
}

.primary_btn_close {
    display: flex;
    padding: 12px 25px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.205);
    transition: ease 0.2s;
    color: white;
    width: 80px;
    display: flex;
    justify-content: center;
}

.primary_btn_close:hover {
    background-color: rgba(0, 0, 0, 0.329);
}

.primary_btn_wait:hover {
    background-color: #da8d13;
}

tbody>tr {
    background-color: #ececec;
}

table
{
 border-collapse: separate;
 border-spacing: 0 8px;
}

.statut_top {
    display: flex;
    justify-content: center;
}

.statut {
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: -35px;
    font-size: 14px;
}

.grey {
    background-color: rgb(26, 188, 156);
    width: 150px;
}

.grey:hover {
    background-color: rgb(22, 158, 131);
}

/*=================================
LOGIN PAGE
==================================*/

.login {
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login_form {
    padding: 30px;
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.login_submit>a {
    color: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}

.login_logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 30px;
}

.login_button {
    background-color: #3AB397;
    border: none;
    border-radius: 7px;
    padding: 14px 14px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: ease 0.2s;
    width: 100%;
}

.login_button:hover {
    background-color: #2e8f78;
}

.login_input_full {
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: solid 1px rgba(0, 0, 0, 0.144);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 9px;
}

.checkbox_agree {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
}

.g-recaptcha {
    margin-top: 20px;
    margin-bottom: 8px;
}

.m_margin_top {
    margin-top: 150px;
}

.m_margin_none {
    margin-top: 20px;
    padding: 15px 30px;
}

.login_input_full>div {
    width: 100%;
}

.login_errors {
    background-color: #ff5252;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.login_input_full>i {
    color: rgba(0, 0, 0, 0.562);
    padding-left: 9px;
    font-size: 14px;
}

.login_input {
    padding: 15px 14px;
    border-radius: 7px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.error_msg>ul {
    list-style: none;
}

.error_msg {
    width: 100%;
    text-align: center;
}

.already_account_link {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);
    width: 100%;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.already_account_link>i {
    margin-left: 10px;
    font-size: 12px;
}

.error_msg>ul>li {
    list-style: none;
    color: white;
    background-color: #ff5252;
    border-radius: 7px;
    padding: 4px 12px;
    margin-bottom: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.backgroundForm {
    background-color: #1ABC9C;
}

.FormsLogReg {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 42%;
    border: black solid 1px;
    border-radius: 7px;
    padding: 50px;
}


.opened_mobile {
    display: none;
}

.cgu_link {
    color: #1ABC9C;
    text-decoration: underline;
    margin-right: 10px;
}

/*========================================
Page FAQ
========================================*/

#title-faq{
    text-align: center;
    margin: 50px 0 75px 0;
}
.container-faq{
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.questions{
    width: 100%;
    margin: 5px;
}
.visible-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.toggle-pannel{
    margin-left: 10px;
    display: none;
}
.visible-pannel h2{
    margin-left: 10px;
}
.toggle-pannel p{
    line-height: 1.5;
}
.img-cross{
    height: 30px;
    margin-right: 10px;
    padding: 20px;
}

/*========================================
Ticket page
========================================*/

.ticket_form {
    padding: 30px;
    background-color: #fff;
    border-radius: 7px;
    width: 100%;
    max-width: 575px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
}

.ticket_form>h1 {
    color: rgba(0, 0, 0, 0.753);
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.ticket_information>h1 {
    color: rgba(0, 0, 0, 0.753);
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.level_depart {
    display: flex;
    align-items: center;
    width: 100%;
}

.ticket_information {
    padding: 30px;
	width: 100%;
	max-width: 575px;
	background-color: #fff;
	border-radius: 7px;
	margin-top: 50px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
    box-sizing: border-box;
}

.ticket_page {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 25px;
}

.ticket_sizing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket_information_box {
    background-color: #ececec;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}

.ticket_information_box>i {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.568);
}

.no_top_margin {
    margin-top: 0;
}

.margin_left_input {
    margin-left: 10px;
}
  
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 12px;
    border: 1px solid #dfdfdf;
}


/*========================================
Page Article
========================================*/

.title-page-article,.link-all-articles,.title-h2-article{
    text-align: center;
    display: block;
    margin-top: 50px;
}
.article-page, .comments-article{
    width: 75%;
    margin: auto;
    border: 2px solid #F1F1F1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header-page-article{
    background-color: #D8D8D8;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0;
}
.body-card-article{
    margin-left: 10px;
}

/*========================================
ERROR PAGE
========================================*/

.error_400 {
    background-color: #3AB397;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.error_box {
    background-color: #fff;
    border-radius: 7px;
    padding: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 300px;
}

.error_box>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 30px;
}

/*========================================
TICKET VIEW
========================================*/

.primary_btn_return {
    padding: 12px 25px;
    border-radius: 7px;
    background-color: var(--background-color);
    transition: ease 0.2s;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
}

.head_ticket {
    padding: 30px 0 50px 0;
    width: 100%;
    max-width: 1200px;
}

.ticket_title>p {
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.primary_btn_white {
    padding: 15px;
    border-radius: 7px;
    background-color: white;
    transition: ease 0.2s;
    color: rgba(0, 0, 0, 0.842);
    width: 120px;
    width: 80px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.primary_btn_red {
    padding: 15px;
    border-radius: 7px;
    background-color: #e74c3c;
    transition: ease 0.2s;
    color: rgba(255, 255, 255, 0.842);
    width: 120px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    font-size: 14px;
}

.client_response {
    background-color: #ececec;
    border-radius: 7px;
    padding: 25px;
    margin-bottom: 15px;
}

.submit_top {
    margin-top: 15px;
}

.primary_btn_red:hover {
    background-color: #c0392b;
}

.btn_box {
    display: flex;
}

.primary_btn_white:hover {
    background-color: #ffffffab;
}

.white {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.705) !important;
}

.head_ticket_title {
    font-weight: 100;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.head_ticket_btn {
    display: flex;
    justify-content: space-between;
}

.statut_width {
    width: 75%;
    margin-right: 15px;
}

.statut_btn_width {
    width: 34%;
    background-color: #ececec;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    align-items: center;
    height: 110px;
}

.statut_btn>p {
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.151);
    padding: 15px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.reset_margin {
    margin: 0 !important;
}

.statut_reset {
    align-items: unset !important;
}

.client_response_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.response_date {
    background-color: var(--background-color);
    color: white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 7px;
}

.client_ticket_info_box {
    display: flex;
    align-items: center;
}

.ticket_line {
    width: 100%;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.068);
    height: 2px;
    margin: 15px 0;
}

.ticket_client_message>p {
    text-align: justify;
}

.green {
    background-color: var(--background-color) !important;
    color: white;
}

/*========================================
PROFILE PAGE
========================================*/


.formPicture {
    box-sizing: border-box;
}

.formPicture>h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.918);
    font-weight: 200;
}

.formPictureFull {
    display: flex;
    justify-content: center;

}

.profile_update_box {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.formPicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    width: 100%;
    border-radius: 7px;
}

.profile_update_box {
    margin-top: 30px;
}

.marginPictureBox {
    margin-left: 30px;
}

.input_file_type {
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: solid 1px rgba(0, 0, 0, 0.144);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 9px;
    padding: 30px 15px;
    flex-direction: column;
}

.configImg {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin-left: 10px;
}

.changeLogo {
    padding: 8px 15px;
    background-color: var(--background-color);
    border-radius: 7px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 120px !important;
    margin-right: 15px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 130px;
}

footer {
    width: 100%;
    background: var(--background-color);
    position: absolute;
    bottom: 0px; left: 0;
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: white;
    text-decoration: none;
}

.license {
    display: flex;
    align-items: center;
}

.license>a {
    color: white !important;
    text-decoration: none;
}

.license>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}

.ticket_information>img {
    width: 200px;
    height: 200px;
    object-fit: contain;
} 

.centerImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil_picture_profil {
    width: 120px !important;
    height: 120px !important;
    object-fit: cover;
    border-radius: 300px;
    margin-bottom: 25px;
}

/*========================================
Responsive
========================================*/

@media screen and (max-width: 1200px) {

    .statut {
        margin: -40px 15px 0 15px;
    }

    .header {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .ticket {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .opened {
        display: none;
    }

    .opened_mobile {
        display: flex;
        flex-direction: column;
    }

    .ticket_page {
        padding: 0 25px;
    }

    footer {
        padding: 15px 15px;
    }

    .formPictureFull {
        padding: 0 15px;
    }
} 

@media screen and (max-width: 900px) {

    .all_articles {
        flex-wrap: wrap;
    }

    .statut {
        text-align: center;
        flex-direction: column;
    }

    .statut_text {
        margin-bottom: 15px;
    }

    .user_account {
        display: none;
    }

    .margin_text{
        margin-bottom: 0;
    }

    .ticket_box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ticket_box>p {
        margin-bottom: 10px;
    }

    .opened_mobile {
        display: flex;
        flex-direction: column;
    }

    .ticket_page {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 25px;
    }

    .ticket_information {
        margin: 0 15px;
    }

    .ticket_form {
        margin: 25px 15px;
    }

    .level_depart {
        flex-direction: column;
    }

    #ticket_content {
        font-size: 14px;
    }

    .margin_left_input {
        margin-left: 0px;
    }

    .statut_width {
        width: 100%;
    }

    .statut {
        flex-direction: column;
    }

    .statut_btn_width {
        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;
        height: 160px;
    }

    .head_ticket_btn {
        flex-direction: column;
        align-items: center;

    }

    .ticket_title {
        width: 100%;
    }

    .head_ticket_btn {
        flex-direction: column-reverse;
    }

    .btn_box {
        margin-bottom: 10px;
        width: 100%;
    }

    .primary_btn_red {
        width: 100%;
    }

    .client_response_header, .client_ticket_info_box {
        flex-direction: column;
    }

    .response_date {
        margin-top: 10px;
    }

    .ticket_img {
        margin-right: 0;
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    footer {
        padding: 15px 15px;
    }

    .login_input {
        width: 70%;
    }

    .profile_update_box {
        flex-wrap: wrap;
    }

    .marginPictureBox {
        margin: 0;
        margin-top: 20px;
    }


}
