/* css page FAQ */
#title-faq{
    text-align: center;
}
.container-faq{
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.questions{
    width: 100%;
    margin: 5px;
}
.visible-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.toggle-pannel{
    margin-left: 10px;
    display: none;
}
.visible-pannel h2{
    margin-left: 10px;
}
.toggle-pannel p{
    line-height: 1.5;
}
.img-cross{
    height: 40px;
    margin-right: 10px;
}